/* productItem.css */
.product-image {
    height: 40%;
    width: fit-content;
    object-fit: cover;
  }

  .card {
  width: 25%;
  text-align: center;
}

.image {
  position: absolute;
  right: 0;
}